body {
  font-family: "Inter", sans-serif;
}
.header-box {
  background-image: url("./images/banner.png");
  background-repeat: no-repeat;
  height: 520px;
  text-align: center;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 40px;
}
.header-box h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 38px;
  font-style: normal;
  line-height: normal;
  padding-top: 156px;
}
.text-area {
  width: 60%;
  margin: 0 auto;
}

.text-area p {
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}
.info {
  margin-top: -60px;
}
.items {
  align-items: center;
}
.cupon {
  gap: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.Offer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.btn {
  border: 2px solid red;
}
.form-box{
  width: 70%;
}
.offer-tk{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.seat,#seat{
  display: inline-block;
  background-color: rgb(214, 214, 214);
  padding: 9px 30px;
  margin: 10px;
  border-radius: 5px;
}
#seat{
  background-color: transparent;
}
/* .sell-data{
  display: flex;
  align-items: center;
  justify-content: space-between;
} */
.seat-data ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.seat-data ul li p{
  font-size: 18px;
  font-weight: 600;
}
#seat-info-number{
  font-size: 10px;
  background-color:#1dd100;
  padding: 2px;
  border-radius: 5px;
  margin-left: 5px;
}

/* popup */
.container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup{
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  align-items: center;
  visibility: hidden;
}
.oper-popup{
  visibility: visible;
  transform: translate(-50%,-50%) scale(1);
}
.popup img{
  
  width: 20%;
  margin-top: 20px;
}
.image{
  width: 100%;
}
.popup button{
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border-radius: 7px;
  cursor: pointer;
}
/* <div class="container">
                      <div class="popup" id="popup">
                         <img src="./images/success.png" alt="">
                         <h2>Thank You!</h2>
                         <p>Your details has been successfully submitted.Thanks!</p>
                         <button type="button" onclick="closPopup()">Ok</button>
                      </div>
                  </div> */